*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    padding: 16 0;
    background-color: rgba(139, 69, 19, 0.6);
    color: black;
    margin-bottom: 0px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-family: 'Moon Dance', cursive; 
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    color: black;
}

header nav li a{
    text-decoration: none;
    color: black;
}

#welcome{
    background-color: #DEB887;
}

.welcome{
    display: flex;
}

.welcome img{
    height: 600px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

#apresentation{
    background-color: #D2B48C;
}

.apresentation{
    display: flex;
}
.apresentation img{
    height: 640px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
}

.apresentation .somos h2{
    font-size: 40px;
    margin-left: 190px;
    margin-bottom: 16px;
}

.apresentation .somos p{
    font-size: 30px;
    text-align: justify;
}

.bemvindo{
    justify-content: center;
    width: 100%;
    height: 600px;
}

.bemvindo h2{
    font-size: 90px;
    font-family: 'Moon Dance', cursive;
    justify-content: center;
    margin-left: 190px;
}

.bemvindo .região{
    font-size: 55px;
    font-family: 'Moon Dance', cursive;;
    justify-content: center;
    margin-left: 180px;
}

.bemvindo .selo{
    font-size: 30px;
    margin-left: 60px;
}

#unidades{
    background-color: #DEB887;
    ;
}

#unidades h2{
    font-size: 40px;
}

#contact{
    background-color: #D2B48C;
    font-size: 30px;
}

    #contact h3{
        font-size: 24px;
    }
.articles{
    display: flex;
}

.articles article{
    margin: 10px 10px; 
}

.articles article img{
    width: 100%;
}
.container{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto 0 auto;
}

section .container{
    align-items: flex-start; 
}
body, input, textarea{
    font-family: Arial, Helvetica, sans-serif;
}

form input,
form textarea,
form button{
    display: block;
    width: 500px;
    padding: 16px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #375abb;
}

input:focus textarea:focus{
    outline-color: saddlebrown;
}

footer{
    background-color: rgba(139, 69, 19, 0.6);
    color: black;
    padding: 16px 0;
    margin: 0 auto 0 auto;
}